name: Automatic doc checks

on:
  push:
    branches: [ main ]
  pull_request:
    paths:
      - 'docs/**'

  workflow_call:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  documentation-checks:
    uses: canonical/documentation-workflows/.github/workflows/documentation-checks.yaml@main
    with:
      working-directory: "docs"
      fetch-depth: 0

  download-spellcheck-logs:
    name: Download Spell Check Logs
    needs: documentation-checks
    if: always()
    runs-on: ubuntu-latest
    steps:
      - name: Download logs archive
        run: |
          curl \
            -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            -H "Accept: application/vnd.github+json" \
            -L \
            "https://api.github.com/repos/${{ github.repository }}/actions/runs/${{ github.run_id }}/logs" \
            -o logs.zip

      - name: Extract only Spell Check logs
        run: |
          mkdir spellcheck
          unzip logs.zip
          find . -type f -iname "*spell*" -exec cp {} spellcheck/ \;

      - name: Upload Spell Check logs artifact
        uses: actions/upload-artifact@v4
        with:
          name: spellcheck-logs
          path: spellcheck

